
//@theme "/home/dorian/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/dorian/.local/share/rofi/themes/rounded-common.rasi"

@theme "/home/dorian/.local/share/rofi/themes/spotlight-dark.rasi"
