@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 15px; /* Smaller font size */
    font-family: "CodeNewRoman Nerd Font Propo";
    font-weight: bold;
}

window#waybar {
    all: unset;
}

/* Group styles without background */
.modules-left,
.modules-center,
.modules-right {
    padding: 3px;
    margin: 3px;
    border-radius: 8px;
    background: none; /* Removed background */
    box-shadow: none; /* Removed shadow */
}

/* Tooltip style */
tooltip {
    background: @background;
    color: @color7;
}

/* Hover effects for individual modules */
#clock:hover, #custom-pacman:hover, #custom-notification:hover, #bluetooth:hover, #network:hover, #battery:hover, #cpu:hover, #memory:hover, #temperature:hover, #wireplumber:hover {
    transition: all .3s ease;
    color: @color9;
}

/* Individual module styles without background */
#custom-notification, #clock, #custom-pacman, #bluetooth, #network, #battery, #cpu, #memory, #temperature, #wireplumber {
    padding: 2px 4px;
    color: @color7;
    transition: all .3s ease;
    background: none;
}

/* Workspaces (kept original colors) */
#workspaces {
    padding: 0px 3px;
}

#workspaces button {
    all: unset;
    padding: 2px 4px;
    color: alpha(@color9, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

/* Battery status */
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Expand and tray modules */
#group-expand, #custom-expand, #custom-colorpicker, #cpu, #memory, #temperature {
    padding: 2px 4px;
    transition: all .3s ease;
}

#custom-expand {
    color: alpha(@foreground, .2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

/* Tray styles */
#tray {
    padding: 2px 4px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 2px 4px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 2px 4px;
    transition: all .3s ease;
}

